body{
    background: #1f2224;
    color:#fff;
    margin:0;
    padding: 0;
}

body,.txt,textarea{
    font: 13px Verdana,Tahoma,sans-serif
}

div{
    position: relative;
}

:focus {
    outline: none;
}

#header{
    -moz-border-radius:0 0 15px 15px;
    -webkit-border-radius:0 0 20px 20px;
    border-color: #B0ABAB;
    border-radius: 0 0 20px 20px;
    border-style: solid;
    border-width: 0 1px 1px;
    color: #FFF;
    height: 60px;
    left: 50%;
    margin-left: -469px;
    position: absolute;
    width: 850px;
    z-index: 4;
}
#header, #main{
    -moz-box-shadow:0 0 35px rgba(0,0,0,0.75);
    -webkit-box-shadow:0 0 35px rgba(0,0,0,0.75);
    background: #151718;
    box-shadow: 0 0 35px rgba(0,0,0,0.75);
}

#main{
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border: 3px solid #B0ABAB;
    border-radius: 15px;
    margin: 0 auto 10px;
    padding: 60px 20px 0 ;
    width:850px;
    z-index: 2
}
.navbar{
    height: 5px;
    left: 50%;
    margin-left: -90px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 500px;
}
.navbar a:link,#navbar a:visited{
    float: right;
    margin-right: 4px;
    padding: 4px;
    text-align: center;
}
.navbar a:hover,.navbar a:focus,.buttn:hover,.buttn:focus{
    background-color: #C2FBBB;
}
.navbar a,h3{
     -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.navbar a:focus,.buttn:focus,.txt:focus,textarea:focus{
     -moz-box-shadow:0 0 35px rgba(0,0,0,0.75);
    -webkit-box-shadow:0 0 35px rgba(0,0,0,0.75);
    box-shadow: 0 0 35px rgba(0,0,0,0.75);
}
.buttn{
    height: 26px;
    background: #e6433d;
    color: #000;
}

.buttn,.txt,.{
     -moz-border-radius:10px;
     -webkit-border-radius:10px;
    border-radius: 10px;
}
.txt{
    height: 20px;
    margin: 7px 0;
    text-align: center;
    color:#000;
}
textarea{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    overflow: auto;
    padding: 8px;
}
input.checkb{
    margin-top: 15px;
}

a:link,a:visited,#warning{
    color: #fdfdfd;
    font-weight: 700;
}
#cartorder{
    color: red;
}
a:hover,a:focus,h3{
    color:#ED1C24;
}

h3{
    font-size: 22px;
    font-weight: 500;
    padding:5px 8px;
}
.table1 td{
    background: #151718
}
hr{
    border: 1px solid #B0ABAB;
}


#footer{
    height: 60px;
    width: 870px;
}

#footertext{
    font-size:11px;
    left: 318px;
    text-align: center;
    top:29px;
    width: 870px;
}
#payment-gateway{
    left: 30%;
}
.floatimg {
margin:0 19px 19px 0
}